.header-area {
    background-color: #004777 !important;
    border-radius: 0px 0px 25px 25px;
    height: 80px!important;
    position: fixed!important;
    top: 0!important;
    left: 0;
    right: 0;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }

  .logo {
    display: block;  /* Permet de centrer l'image si le parent est centré */
    margin: 0 auto;  /* Centre horizontalement */
    width: 60%;  /* Définit la largeur du logo à 60% */
  }
  
  .logo img {
    width: 70%;  /* Assure que l'image prend toute la largeur de son conteneur .logo */
    height: auto;  /* Garde les proportions de l'image */
    display: block;  /* Évite les espaces blancs en dessous de l'image */
    margin-top: -28%;
  }
  
  .header-area .main-nav {
    background: transparent;
    display: flex
  }
  
  .header-area .main-nav .logo {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: inline-block;
  }
  
  .header-area .main-nav .logo h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid rgba(250, 250, 250, 0.3);
  }
  
  .background-header .main-nav .logo,
  .background-header .main-nav #search {
    margin-top: 18px;
  }
  
  .header-area .main-nav #search {
    position: relative;
  }
  
  .header-area .main-nav #search input {
    background-color: rgba(255, 255, 255, 0.10);
    height: 44px;
    width: 250px;
    border-radius: 23px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 20px 0px;
  }
  
  .header-area .main-nav #search input::placeholder {
    color: rgba(250, 250, 250, 0.75);
  }
  
  .header-area .main-nav #search i {
    position: absolute;
    color: #fff;
    right: 20px;
    top: 10px;
    font-size: 16px;
  }
  
  .header-area .main-nav ul.nav {
    border-radius: 0px 0px 25px 25px;
    flex-basis: 180%;
    margin-right: 0px;
    justify-content: right;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
  }
  
  .header-area .main-nav .nav li:last-child {
    padding-right: 0px;
  }
  
  .header-area .main-nav .nav li {
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    line-height: 40px;
  }
  
  .header-area .main-nav .nav li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-weight: 300;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border: transparent;
    letter-spacing: .25px;
  }
  
  .background-header .main-nav .nav {margin-top: 20px;}
  
  .background-header .main-nav .nav li {
    height: 80px;
    line-height: 80px;
  }
  
  .header-area .main-nav .nav li:hover a {
    opacity: 0.8;
  }
  .header-area .main-nav .nav li a.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.10);
    opacity: 1;
  }
  
  .background-header .main-nav .nav li:hover a {
    opacity: 0.8;
  }
  .background-header .main-nav .nav li a.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.10);
    opacity: 1;
  }
  
  .header-area .main-nav .menu-trigger {
    cursor: pointer;
    position: absolute;
    top: 25px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 20px;
    display: none;
  }
  

  /* Media query for small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  /* CSS rules here */

  .logo img {
    width: 60%;  
  }
}

/* Media query for medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* CSS rules here */
  .logo img {
    width: 60%;  
  }
}

/* Media query for large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  /* CSS rules here */
}

/* Media query for extra large devices (large desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  /* CSS rules here */
}
